{% extends 'layouts/main.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}
    <h3 class="fw-bold">ABOUT US</h3>
    <!-- ABOUT ULA/AA -->
    <div>
      <div class="flag-container">
        <img class="card-img-top" src="{% static 'images/aa.png' %}" alt="image" />
      </div>
      <div class="text-center py-3"><h4 class="fw-bold">ARAKAN ARMY</h4></div>
      <p class="lh-lg">
        Established on April 10, 2009 Arakan Army led by Arakan’s younger
        generations, has become one of the most credibility army forces in
        Burma fighting for self-determination, national equality, justice and
        freedom. In solidarity with all ethnic people who have been struggling
        in Burma and with the Arakanese around the globe in particular, we
        pursue our mission with excellence, compassion and modesty to protect
        our fatherland. Profoundly guided by inspirations of our faith, value,
        legacy and true vision that unite us as a people—we are committed to
        meet the tests of history; it defines our destiny. The land of Arakan
        belongs to the people of Arakan. To protect our ancestral land is the
        price of our freedom. No one should be denied the right to determine
        their own destiny, to be free of oppression—because freedom of
        expression is universal aspiration of humanity.
      </p>
      <center><h4>Our mission is as follows:</h4></center>
    <p class="lh-lg">
      Like perseverance that constitutes our core competence we the Arakan
      army keep our feet firmly on the ground while steadfastly pursuing our
      vision as a global cooperation to build a future worthy of our pledge
      and sacrifice. From glorious achievement of past rises our aspiration
      for global future: aspiration backed by our spirit, creativity, optimism
      and determination to work as a family and team to safeguard to the
      fatherland. For inspiration, we look to our brave Arakanese especially
      for those who are scarifying their lives in defense of the fatherland
      whose noble service reminds us of our mission as a nation—to build a
      future worthy of their sacrifice.
    </p>

    <p class="lh-lg">
      Lives of great Arakanese heroes who once glorified our ancestral land
      remind us that we can make our lives sublime and meaningful departing
      behind us footprints on the sands of time. These great Arakanese heroes
      were courageously and prominently defending to our country’s legacy of
      freedom and values we always cherish. The life of each and every one of
      them is precious to our nation. And each life given in the name of
      liberty is a life that has not been lost in vain but in honor the good
      souls whose memories are a blessing to path of our liberation.
    </p>

    <p class="lh-lg">
      History has witnessed to the characters of the people of Arakan who have
      shown strong and steadfast spirit what kinds of Arakanese are at
      toughness time. They have been partners in great enterprise sharing
      foremost responsibilities in protecting Arakan’s legacy of freedom.
      Throughout history, the brave Arakanese heroes have served our ancestral
      land and with selfless dedication and greater determination. They were
      standing firm against our enemies and those who sought to destroy our
      way of life and crushed our ideals as well as our heritages. We are sure
      that we all Arakanese agree that we owe a great debt of gratitude to
      those who sacrificed their lives so that we can enjoy the freedom.
    </p>

    <p class="lh-lg">
      Unity is the priority of priorities to Arakanese. Our greatest
      responsibility today is to prove our courage of unity refusing to live
      under the brutal and repressive dictatorship that had been destroyed
      lives and resources of our land. It’s our nation’s right to live in
      freedom, democracy and a good decent life. We the Arakan Army decisively
      hold the vision on uniting path of freedom and–we will pay price for the
      best of tomorrows.
    </p>

    <p class="paragraph">
      The Arakan army firmly believed that we have the will and wisdom to
      apply ourselves in exciting tests of rebuilding our society and
      prosperous future . We must have the courage to celebrate the victory a
      day. The Arakan Army invites all Arakanese to join in our national
      struggle to accomplish our long desired mission we are in; to bind up
      nation’s wounds; to make the promise of our founding fathers come true.
    </p>
    </div>
    <!-- ABOUT MNDAA -->
    <div>
      <div class="flag-container">
        <img class="card-img-top" src="{% static 'images/mndaa.png' %}" alt="image" />
      </div>
      <div class="text-center py-3"><h4 class="fw-bold">MYANMAR NATIONAL DEMOCRATIC ALLIANCE ARMY</h4></div>
      <p class="lh-lg">
        Established on April 10, 2009 Arakan Army led by Arakan’s younger
        generations, has become one of the most credibility army forces in
        Burma fighting for self-determination, national equality, justice and
        freedom. In solidarity with all ethnic people who have been struggling
        in Burma and with the Arakanese around the globe in particular, we
        pursue our mission with excellence, compassion and modesty to protect
        our fatherland. Profoundly guided by inspirations of our faith, value,
        legacy and true vision that unite us as a people—we are committed to
        meet the tests of history; it defines our destiny. The land of Arakan
        belongs to the people of Arakan. To protect our ancestral land is the
        price of our freedom. No one should be denied the right to determine
        their own destiny, to be free of oppression—because freedom of
        expression is universal aspiration of humanity.
      </p>
    </div>
    <!-- ABOUT TNLA -->
    <div>
      <div class="flag-container">
        <img class="card-img-top" src="{% static 'images/tnla.jpg' %}" alt="image" />
      </div>
      <div class="text-center py-3"><h4 class="fw-bold">TENNESSEE NURSERY & LANDSCAPE ASSOCIATION</h4></div>
      <p class="lh-lg">
        Established on April 10, 2009 Arakan Army led by Arakan’s younger
        generations, has become one of the most credibility army forces in
        Burma fighting for self-determination, national equality, justice and
        freedom. In solidarity with all ethnic people who have been struggling
        in Burma and with the Arakanese around the globe in particular, we
        pursue our mission with excellence, compassion and modesty to protect
        our fatherland. Profoundly guided by inspirations of our faith, value,
        legacy and true vision that unite us as a people—we are committed to
        meet the tests of history; it defines our destiny. The land of Arakan
        belongs to the people of Arakan. To protect our ancestral land is the
        price of our freedom. No one should be denied the right to determine
        their own destiny, to be free of oppression—because freedom of
        expression is universal aspiration of humanity.
      </p>
    </div>

    
{% endblock content %}